# On board ethernet 
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="20:47:47:fc:17:4e", NAME="eth0"

# On Board wifi
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="70:77:81:d5:44:df", NAME="wlan0"



